<html>
<head>

    @Html.Partial("Master/HeaderContent")

    <!-- Bootstrap -->
    <link href="/Css/bootstrap.css" rel="stylesheet">
    <!-- Links -->
    <link rel="stylesheet" href="/Css/camera.css">
    <link rel="stylesheet" href="/Css/google-map.css">
    <link rel="stylesheet" href="/Css/mailform-sub.css">
    <link rel="stylesheet" href="/Css/search.css">
    <link rel="stylesheet" href="/Css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Roboto:400,100,300,300italic,100italic,400italic,500,500italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="/Css/animate.css">
    <!--JS-->
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/rd-smoothscroll.min.js"></script>

    <!--[if lt IE 9]>
      <script src="/Scripts/html5shiv.js"></script>
      <script src="/Scripts/respond.min.js"></script>
    <![endif]-->

    <script src="/Scripts/device.min.js"></script>
</head>
<body>
    <div class="page">
        <!--========================================================
                                  HEADER
        =========================================================-->
        <header>

            @Html.Partial("Master/MainNavigation")

            @Html.Partial("Master/PageSlider")

        </header>

        <!--========================================================
                                      CONTENT
            =========================================================-->
        <main>

            @RenderBody()
            
            @Html.Partial("Home/TopSection")

        </main>

        <!--========================================================
        FOOTER
        =========================================================-->

        @Html.Partial("Master/SiteFooter")

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="/Scripts/bootstrap.min.js"></script>*@
    <script src="/Scripts/bootstrap.js"></script>

    <script src="/Scripts/tm-scripts.js"></script>

    <!-- </script> -->

</body>
</html>
